.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    color: rgba(0, 0, 0, 0.815);
    width: 90%;

    margin: auto;

    border-width: 0.3px;
    border-color: #a1a1a1a8;
    border-style: none dashed none dashed;
}

.gradient{
    background: linear-gradient(to right, #560090, #496aff);
    width: 90%;
    margin: auto;
    height: 25px;
}