.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    color: rgba(0, 0, 0, 0.815);
    width: 90%;

    margin: auto;

    border-width: 0.3px;
    border-color: #a1a1a1a8;
    border-style: none dashed none dashed;
}

.gradient{
    background: linear-gradient(to right, #560090, #496aff);
    width: 90%;
    margin: auto;
    height: 25px;
}

@media only screen and (max-width: 600px) {
    /* .copyright{
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 3%;
        margin: auto;
        margin-left: 20%;
        font-size: 0.7rem;
        border: none;
    } */

    .copyright{
        font-size: 0.6rem;
        border: none;
        padding: 0;
    }
    .gradient{
        padding: auto;
        margin: auto;
        width: 90%;
        height: 28vh;
    }

}