.writing{
  display: none;
}
.body{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.landingMobile{
  display: none;
}
.mobileButtonHolder{
  display: none;
}

#video{
  width: 100%;
  min-height: 100%;
  max-width: 1920px;
  min-width: 300px;
  display: block;
  margin: auto;
  border-width: 0.5px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
}

.svgoverlay{
  position: absolute;
  top: 3px;
}

.svgLine{
  stroke-dasharray: 70;
  stroke-width: 4;
  stroke-dashoffset: 70;
  animation: drawLine 2s linear forwards;
}

@keyframes drawLine{
  to{
      stroke-dashoffset: 0;
  }
}

/* align the items such that they create a grid */
.projectHolder{
  position: absolute;

  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 75px; 
  grid-column-gap: 125px;
  margin-left: 12%;
  margin-top: 5%;
}

.imageProjects{
  width: 90%;
  margin: auto;

  border-width: 0.3px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
}

.buttonHolder{
  position: absolute;
  top: 65%;
  left: 40%;
}

.wavesWriting{
  position: absolute;
  z-index: 10;
  color: rgba(255, 255, 255, 0.897);
  top: 1000px;
  left: 400px;
}

.contact{
  width: 90%;
  margin: auto;

  border-width: 0.3px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contactSvg{
  position: absolute;
  z-index: 10;
  box-shadow: 40px -30px #002affd8;
  opacity: 0.98;
}

.contactWriting{
  position: relative;
  z-index: 10;
  color: rgba(255, 255, 255, 0.897);
  top: -240px;
  margin-left: 40%;
}

.contactButtons{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* Mobile styling */

@media only screen and (max-width: 600px) {

  .container{
    width: 90%;
    margin: auto;
  }

  /* Landing */
  #video{
    display: none;
  }
  
  .buttonHolder{
    display: none;
  }
  
  .body{
    min-width: 100vw;
  }
  .landingMobile{
    display: block;
    margin-top: 15%;
    margin-left: 3%;
  }
  
  .writing h1{
    margin: 0;
    padding: 0;
  }
  .writing h3{
    margin: 0;
    padding: 0;
  }
  
  .writing{
    display: block;
    position: relative;
    font-size: 28px;
    background: -webkit-linear-gradient(#560090, #496aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .mobileButtonHolder{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
  }
  
  /* Projects */
  .projectHolder{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .imageProjects{
    width: 100%;
    height: 175vh;
    margin: auto;
    border: none;
  }

  .lines{
    display: none;
  }

  /* Contact */
  .contact{
    display: none;
  }


  
}