.writing{
  display: none;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
  border-width: 0.3px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
}

.landingMobile{
  display: none;
}
.mobileButtonHolder{
  display: none;
}

#video{
  width: 100%;
  min-height: 100%;
  max-width: 1920px;
  min-width: 300px;
  display: block;
  margin: auto;
  border-width: 0.5px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
}

.svgoverlay{
  position: absolute;
  top: 3px;
}

.svgLine{
  stroke-dasharray: 70;
  stroke-width: 4;
  stroke-dashoffset: 70;
  animation: drawLine 2s linear forwards;
}

@keyframes drawLine{
  to{
      stroke-dashoffset: 0;
  }
}

/* align the items such that they create a grid */


.projBG{
  position: absolute;
  z-index: -1;
}

.projectHolder{
  position: relative;
  width: 90%;

  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* grid-row-gap: 75px; 
  grid-column-gap: 125px; */
  margin-left: 12%;
  margin-top: 5%;
}




  .projectHolder i{
    /* remove italics */
    font-style: normal;
    font-weight: 800;
    background-image: linear-gradient(to right bottom, #560090, #591ea4, #5932b9, #5843ce, #5454e3, #3b6bf0, #1e80f9, #0093ff, #00a9ff, #00baf2, #00c8dd, #00d3c5);
    background-size: 400%;
    background-clip: text;
    color: transparent;
    animation: text-bg-animation 5s ease-in-out infinite alternate;
    
  }

  @keyframes text-bg-animation {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }


.imageProjects{
  width: 90%;
  margin: auto;

  border-width: 0.3px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
}

.buttonHolder{
  position: absolute;
  top: 65%;
  left: 40%;
}


.wavesWriting{
  position: absolute;
  z-index: 10;
  color: rgba(255, 255, 255, 0.897);
  top: 1000px;
  left: 400px;
}

.contact{
  width: 100%;
  margin: auto;

  border-width: 0.3px;
  border-color: #a1a1a1a8;
  border-style: none dashed none dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}



.contactWriting{
  position: relative;
  z-index: 10;
  top: -450px;


  color: rgba(255, 255, 255, 0.897);

  /* top: -240px;
  margin-left: 40%; */
}

.contactButtons{
  position: relative;
  z-index: 10;
  top: -150px;
}


@media only screen and (min-width: 600px) {

  .projectHolder h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 25%;
    margin-bottom: 0;
  }
  
      /* slanted effect */
  
      .slanted{
        position: relative;
        width: 450px;
        height: 275px;
        margin: 100px 5%;
        transform: skewy(4deg) skewX(1deg);
        -webkit-backface-visibility: hidden;
        
        box-shadow:
        #1100fc25 -5px 5px,
        #1100fc20 -10px 10px,
        #1100fc15 -15px 15px,
           #1100fc10 -20px 20px,
           #1100fc05 -25px 25px;
  
  
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
       
        
    }
    
      .slantedNegative{
        position: relative;
        width: 450px;
        height: 275px;
        margin: 100px auto;
        transform: skewy(-4deg) skewX(-1deg);
        -webkit-backface-visibility: hidden;

      
      
        box-shadow:
        #FBAE3C40 5px 5px,
        #FBAE3C30 10px 10px,
        #FBAE3C20 15px 15px,
          #FBAE3C10 20px 20px,
          #FBAE3C05 25px 25px;
  
          -webkit-transition: all 0.8s ease-in-out;
          -moz-transition: all 0.8s ease-in-out;
          -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out; 
      }
  
      .slanted:hover{
        -webkit-transform: skewy(4deg) skewX(1deg) scale(1.08);
        -moz-transform: skewy(4deg) skewX(1deg) scale(1.08);
        -o-transform: skewy(4deg) skewX(1deg) scale(1.08);
        transform: skewy(4deg) skewX(1deg) scale(1.08);
      }
      .slantedNegative:hover{
        -webkit-transform: skewy(-4deg) skewX(-1deg) scale(1.08);
        -moz-transform: skewy(-4deg) skewX(-1deg) scale(1.08);
        -o-transform: skewy(4deg) skewX(-1deg) scale(1.08);
        transform: skewy(-4deg) skewX(-1deg) scale(1.08);
      }
  
}

/* Mobile styling */

@media only screen and (max-width: 600px) {

  .container{
    width: 100%;
    margin: auto;
  }

  /* Landing */
  #video{
    display: none;
  }
  
  .buttonHolder{
    display: none;
  }
  
  .body{
    min-width: 100vw;
  }
  .landingMobile{
    display: block;
    margin-top: 15%;
    margin-left: 3%;
  }
  
  .writing h1{
    margin: 0;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .writing h3{
    margin: 0;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .writing{
    display: block;
    position: relative;
    font-size: 28px;
    background: -webkit-linear-gradient(#560090, #496aff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .mobileButtonHolder{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
  }
  
  /* Projects */
  .projectHolder{
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    grid-template-rows: auto;
    margin: 0;
  }

  .imageProjects{
    width: 100%;
    margin: auto;
    border: none;
  }
  
  .lines{
    display: none;
  }

  /* Contact */
  .contact{
    display: none;
  }
  
}