
  .fakeButtons {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    top: 3px;
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }
  
  .fakeMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .title{
    /* bring y axis up 20 px */
    position: relative;
    top: -23px;
    font-family: monospace;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
  }
  
  .fakeZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  
  .fakeMenu {
    width: 450px;
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .fakeScreen {
    position: relative;
    /* background-color: #151515; */
    /* background-color: #343434; */
    box-sizing: border-box;
    width: 450px;
    min-height: 250px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .desc{
    position: relative;
    z-index: 5;
  }

  .list{
    list-style: none;
  }
  


  /* Create a chip with a color of 333 and a darker bottom border shadow */
  .chip{
    color: #fff;
    background-color: rgba(51, 51, 51, 0.952);
    border-bottom: 8px solid rgba(34, 34, 34, 0.829);
    display: inline-block;
    padding: 0 20px;
    margin: 2px;
    height: 40px;
    font-size: 28px;
    line-height: 30px;
  }
/* 
  .fakeScreen:hover{
    position: absolute;
    background-color: #000;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  } */
  
  
  .abutton{
    margin-top: 50px;
    margin-left: 32%;
  }
  