.svg {
    position: relative;
    margin-top: 100px;
    width: 900px;
    height: 300px;
    margin: auto;
    background-color: #140021;
  }
  .moving {
    position: absolute;
    top: -150px;
  }
