.svg {
    background-color: #242424;
    height: 100vh;
    width: 90%;
    margin: auto;
    display: block;
    overflow: hidden;
  }
  .moving {
   margin-top: -10%;
   margin-left: -20%;

  }

  .writing{
    position: absolute;
    z-index: 5;
    width: 80%;
    font-size: 1.7rem;
    margin-top: 10%;
    margin-left: 4%;
    background: -webkit-linear-gradient(#560090, #496aff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (max-width: 600px) {

    .svg{
      height: 50vh;
      margin-bottom: 2%;
    }

    .writing{
      display: block;
      position: relative;
      font-size: 1.2rem;
      background: -webkit-linear-gradient(#560090, #496aff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }