.svg {
    background-color: #242424;
    height: 125vh;
    width: 90%;
    margin: auto;
  }
  .moving {
    position: relative;
    margin-left: -182px;
  }

  .writing{
    position: absolute;
    z-index: 5;
    font-size: 28px;
    margin-top: 20%;
    margin-left: 4%;
    background: -webkit-linear-gradient(#560090, #496aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }